.card form input:not([type=checkbox]), .card form button, .card form select {
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem; }
  .card form input:not([type=checkbox]).thin-padding, .card form button.thin-padding, .card form select.thin-padding {
    padding: 0.25rem 0.5rem; }
  .card form input:not([type=checkbox]).thick-padding, .card form button.thick-padding, .card form select.thick-padding {
    padding: 1rem 2rem; }

.card form .form-group label {
  display: block;
  font-weight: bold;
  line-height: 1.1rem; }

.card form .form-group input[type=checkbox]:not(.flipcheck) + label {
  display: inline-block;
  margin-left: 5px; }

.card form .form-group input, .card form .form-group button, .card form .form-group select {
  margin-bottom: 0; }

.card form button, .card form input[type=button] {
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid; }

.card form .inline input:not([type=checkbox]), .card form .inline button, .card form .inline select {
  margin-bottom: 0; }

.card form .flipcheck {
  display: none; }

.card form .flipcheck + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  border-radius: .25rem;
  font-size: 0; }
  .card form .flipcheck + label:before, .card form .flipcheck + label:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.5s;
    backface-visibility: hidden;
    font-size: initial; }
  .card form .flipcheck + label:before {
    content: attr(data-unchecked); }
  .card form .flipcheck + label:after {
    content: attr(data-checked);
    transform: rotateY(180deg); }

.card form .flipcheck:checked + label:before {
  transform: rotateY(180deg); }

.card form .flipcheck:checked + label:after {
  transform: rotateY(0); }

