@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);
.row {
  display: block; }
  @media (min-width: 980px) {
    .row {
      display: flex;
      width: 100%; } }

.one-quarter-width {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .one-quarter-width {
      display: inline-block;
      width: 25%; } }

@media (min-width: 980px) {
  .one-quarter-width-offset {
    margin-left: 25%; } }

.two-quarters-width {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .two-quarters-width {
      display: inline-block;
      width: 50%; } }

@media (min-width: 980px) {
  .two-quarters-width-offset {
    margin-left: 50%; } }

.three-quarters-width {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .three-quarters-width {
      display: inline-block;
      width: 75%; } }

@media (min-width: 980px) {
  .three-quarters-width-offset {
    margin-left: 75%; } }

.one-third-width {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .one-third-width {
      display: inline-block;
      width: 33.33333%; } }

@media (min-width: 980px) {
  .one-third-width-offset {
    margin-left: 33.33333%; } }

.two-thirds-width {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .two-thirds-width {
      display: inline-block;
      width: 66.66667%; } }

@media (min-width: 980px) {
  .two-thirds-width-offset {
    margin-left: 66.66667%; } }

.one-column {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .one-column {
      display: inline-block;
      width: 8.33333%; } }

@media (min-width: 980px) {
  .one-column-offset {
    margin-left: 8.33333%; } }

.two-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .two-columns {
      display: inline-block;
      width: 16.66667%; } }

@media (min-width: 980px) {
  .two-columns-offset {
    margin-left: 16.66667%; } }

.three-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .three-columns {
      display: inline-block;
      width: 25%; } }

@media (min-width: 980px) {
  .three-columns-offset {
    margin-left: 25%; } }

.four-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .four-columns {
      display: inline-block;
      width: 33.33333%; } }

@media (min-width: 980px) {
  .four-columns-offset {
    margin-left: 33.33333%; } }

.five-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .five-columns {
      display: inline-block;
      width: 41.66667%; } }

@media (min-width: 980px) {
  .five-columns-offset {
    margin-left: 41.66667%; } }

.six-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .six-columns {
      display: inline-block;
      width: 50%; } }

@media (min-width: 980px) {
  .six-columns-offset {
    margin-left: 50%; } }

.seven-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .seven-columns {
      display: inline-block;
      width: 58.33333%; } }

@media (min-width: 980px) {
  .seven-columns-offset {
    margin-left: 58.33333%; } }

.eight-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .eight-columns {
      display: inline-block;
      width: 66.66667%; } }

@media (min-width: 980px) {
  .eight-columns-offset {
    margin-left: 66.66667%; } }

.nine-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .nine-columns {
      display: inline-block;
      width: 75%; } }

@media (min-width: 980px) {
  .nine-columns-offset {
    margin-left: 75%; } }

.ten-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .ten-columns {
      display: inline-block;
      width: 83.33333%; } }

@media (min-width: 980px) {
  .ten-columns-offset {
    margin-left: 83.33333%; } }

.eleven-columns {
  display: block;
  width: 100%; }
  @media (min-width: 980px) {
    .eleven-columns {
      display: inline-block;
      width: 91.66667%; } }

@media (min-width: 980px) {
  .eleven-columns-offset {
    margin-left: 91.66667%; } }

.full-width {
  display: block;
  width: 100%; }

.fill-width {
  display: block; }
  @media (min-width: 980px) {
    .fill-width {
      display: inline-block; } }

* {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent; }

ul {
  padding-left: 2rem; }

html, body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.small-text {
  font-size: 0.75rem; }

.normal-text {
  font-size: 1rem; }

.large-text {
  font-size: 1.25rem; }

.extra-large-text {
  font-size: 1.5rem; }

.strong {
  font-weight: bold; }

.emphasis {
  font-style: italic; }

.ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

img {
  max-width: 100%;
  max-height: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25, rem; }

h6 {
  font-size: 1, rem; }

p {
  margin-bottom: 1rem; }
  p.thin-margin {
    margin-bottom: 0.5rem; }
  p.thick-margin {
    margin-bottom: 2rem; }

.card {
  border-width: 1px;
  border-style: solid;
  border-top-width: 3px;
  border-radius: .25rem;
  margin: 1rem;
  color: black; }
  .card.no-accent {
    border-top-width: 1px; }
  .card .header {
    font-weight: bold;
    margin-bottom: 0; }
  .card .title {
    font-weight: bold;
    display: block; }
  .card .list {
    list-style: none;
    padding: 0; }
  .card .list-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 1rem;
    display: flex; }
  .card .list .list-item:first-child {
    border-top-width: 1px;
    border-top-style: solid; }
  .card .list:last-child .list-item:last-child {
    border-bottom-width: 0; }
  .card .inline-list-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 1rem; }
    @media (min-width: 980px) {
      .card .inline-list-item {
        border-bottom-width: 0; } }
  .card .block {
    border-top-width: 1px;
    border-top-style: solid; }

.toast-container {
  position: relative; }

.toast {
  position: static; }
  .toast.top-left {
    top: 0;
    left: 0; }
  .toast.top-right {
    top: 0;
    right: 0; }
  .toast.full-top {
    top: 0;
    left: 0;
    right: 0; }
  .toast.bottom-left {
    bottom: 0;
    left: 0; }
  .toast.bottom-right {
    bottom: 0;
    right: 0; }
  .toast.full-bottom {
    bottom: 0;
    left: 0;
    right: 0; }
  @media (min-width: 980px) {
    .toast {
      position: absolute; } }

.inline {
  display: block; }
  @media (min-width: 980px) {
    .inline {
      display: inline-flex; }
      .inline .list-item {
        border-bottom-width: 0; } }

.circle-image {
  border-radius: 50%; }

.rounded-image {
  border-radius: 25%; }

.badge {
  border-radius: 0.25rem;
  line-height: 0.75rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.4rem;
  white-space: nowrap; }

.pill {
  border-radius: 1rem;
  line-height: 0.75rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.4rem;
  white-space: nowrap; }

.pull-left {
  float: none; }
  @media (min-width: 980px) {
    .pull-left {
      float: left; } }

.pull-right {
  float: none; }
  @media (min-width: 980px) {
    .pull-right {
      float: right; } }

.square {
  border-radius: 0; }

.round-top-left {
  border-top-left-radius: 0.25rem; }

.round-top-right {
  border-top-right-radius: 0.25rem; }

.round-bottom-left {
  border-bottom-left-radius: 0.25rem; }

.round-bottom-right {
  border-bottom-right-radius: 0.25rem; }

.round-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.round-bottom {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.round-left {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.round-right {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.round-forward-diagonal {
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.round-backward-diagonal {
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }

.round-all {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.pad-none.pad-none {
  padding: 0; }

.pad-left.pad-left {
  padding-left: 1rem; }
  .pad-left.pad-left.thin-padding {
    padding-left: 0.5rem; }
  .pad-left.pad-left.thick-padding {
    padding-left: 2rem; }

.pad-top.pad-top {
  padding-top: 1rem; }
  .pad-top.pad-top.thin-padding {
    padding-top: 0.5rem; }
  .pad-top.pad-top.thick-padding {
    padding-top: 2rem; }

.pad-right.pad-right {
  padding-right: 1rem; }
  .pad-right.pad-right.thin-padding {
    padding-right: 0.5rem; }
  .pad-right.pad-right.thick-padding {
    padding-right: 2rem; }

.pad-bottom.pad-bottom {
  padding-bottom: 1rem; }
  .pad-bottom.pad-bottom.thin-padding {
    padding-bottom: 0.5rem; }
  .pad-bottom.pad-bottom.thick-padding {
    padding-bottom: 2rem; }

.pad-horizontal.pad-horizontal {
  padding-left: 1rem;
  padding-right: 1rem; }
  .pad-horizontal.pad-horizontal.thin-padding {
    padding-left: 0.5rem; }
  .pad-horizontal.pad-horizontal.thick-padding {
    padding-left: 2rem; }
  .pad-horizontal.pad-horizontal.thin-padding {
    padding-right: 0.5rem; }
  .pad-horizontal.pad-horizontal.thick-padding {
    padding-right: 2rem; }
  .pad-horizontal.pad-horizontal.thin-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .pad-horizontal.pad-horizontal.thick-padding {
    padding-left: 2rem;
    padding-right: 2rem; }

.pad-vertical.pad-vertical {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .pad-vertical.pad-vertical.thin-padding {
    padding-top: 0.5rem; }
  .pad-vertical.pad-vertical.thick-padding {
    padding-top: 2rem; }
  .pad-vertical.pad-vertical.thin-padding {
    padding-bottom: 0.5rem; }
  .pad-vertical.pad-vertical.thick-padding {
    padding-bottom: 2rem; }
  .pad-vertical.pad-vertical.thin-padding {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .pad-vertical.pad-vertical.thick-padding {
    padding-top: 2rem;
    padding-bottom: 2rem; }

.pad-all.pad-all {
  padding: 1rem; }
  .pad-all.pad-all.thin-padding {
    padding: 0.5rem; }
  .pad-all.pad-all.thick-padding {
    padding: 2rem; }

.margin-none {
  margin: 0; }

.margin-left {
  margin-left: 1rem; }
  .margin-left.thin-margin {
    margin-left: 0.5rem; }
  .margin-left.thick-margin {
    margin-left: 2rem; }

.margin-top {
  margin-top: 1rem; }
  .margin-top.thin-margin {
    margin-top: 0.5rem; }
  .margin-top.thick-margin {
    margin-top: 2rem; }

.margin-right {
  margin-right: 1rem; }
  .margin-right.thin-margin {
    margin-right: 0.5rem; }
  .margin-right.thick-margin {
    margin-right: 2rem; }

.margin-bottom {
  margin-bottom: 1rem; }
  .margin-bottom.thin-margin {
    margin-bottom: 0.5rem; }
  .margin-bottom.thick-margin {
    margin-bottom: 2rem; }

.margin-horizontal {
  margin-left: 1rem;
  margin-right: 1rem; }
  .margin-horizontal.thin-margin {
    margin-left: 0.5rem; }
  .margin-horizontal.thick-margin {
    margin-left: 2rem; }
  .margin-horizontal.thin-margin {
    margin-right: 0.5rem; }
  .margin-horizontal.thick-margin {
    margin-right: 2rem; }
  .margin-horizontal.thin-margin {
    margin-left: 0.5rem;
    margin-right: 0.5rem; }
  .margin-horizontal.thick-margin {
    margin-left: 2rem;
    margin-right: 2rem; }

.margin-vertical {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .margin-vertical.thin-margin {
    margin-top: 0.5rem; }
  .margin-vertical.thick-margin {
    margin-top: 2rem; }
  .margin-vertical.thin-margin {
    margin-bottom: 0.5rem; }
  .margin-vertical.thick-margin {
    margin-bottom: 2rem; }
  .margin-vertical.thin-margin {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .margin-vertical.thick-margin {
    margin-top: 2rem;
    margin-bottom: 2rem; }

.margin-all {
  margin: 1rem; }
  .margin-all.thin-margin {
    margin: 0.5rem; }
  .margin-all.thick-margin {
    margin: 2rem; }

.hide-on-small {
  display: none; }
  @media (min-width: 720px) {
    .hide-on-small {
      display: inherit; } }
  @media (min-width: 980px) {
    .hide-on-small {
      display: inherit; } }
  @media (min-width: 1140px) {
    .hide-on-small {
      display: inherit; } }

.show-only-on-small {
  display: inherit; }
  @media (min-width: 720px) {
    .show-only-on-small {
      display: none; } }
  @media (min-width: 980px) {
    .show-only-on-small {
      display: none; } }
  @media (min-width: 1140px) {
    .show-only-on-small {
      display: none; } }

.hide-on-medium {
  display: inherit; }
  @media (min-width: 720px) {
    .hide-on-medium {
      display: none; } }
  @media (min-width: 980px) {
    .hide-on-medium {
      display: inherit; } }
  @media (min-width: 1140px) {
    .hide-on-medium {
      display: inherit; } }

.show-only-on-medium {
  display: none; }
  @media (min-width: 720px) {
    .show-only-on-medium {
      display: inherit; } }
  @media (min-width: 980px) {
    .show-only-on-medium {
      display: none; } }
  @media (min-width: 1140px) {
    .show-only-on-medium {
      display: none; } }

.hide-on-large {
  display: inherit; }
  @media (min-width: 720px) {
    .hide-on-large {
      display: inherit; } }
  @media (min-width: 980px) {
    .hide-on-large {
      display: none; } }
  @media (min-width: 1140px) {
    .hide-on-large {
      display: inherit; } }

.show-only-on-large {
  display: none; }
  @media (min-width: 720px) {
    .show-only-on-large {
      display: none; } }
  @media (min-width: 980px) {
    .show-only-on-large {
      display: inherit; } }
  @media (min-width: 1140px) {
    .show-only-on-large {
      display: none; } }

.hide-on-extra-large {
  display: inherit; }
  @media (min-width: 720px) {
    .hide-on-extra-large {
      display: inherit; } }
  @media (min-width: 980px) {
    .hide-on-extra-large {
      display: inherit; } }
  @media (min-width: 1140px) {
    .hide-on-extra-large {
      display: none; } }

.show-only-on-extra-large {
  display: none; }
  @media (min-width: 720px) {
    .show-only-on-extra-large {
      display: none; } }
  @media (min-width: 980px) {
    .show-only-on-extra-large {
      display: none; } }
  @media (min-width: 1140px) {
    .show-only-on-extra-large {
      display: inherit; } }

.flip-switch {
  display: block;
  height: 35px;
  width: 62px;
  background: #182029;
  padding: 3px 0 0;
  margin: 0 auto;
  perspective: 50px;
  -webkit-perspective: 50px;
  -moz-perspective: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px; }
  .flip-switch input {
    display: none; }
  .flip-switch label {
    display: block;
    position: relative;
    height: 32px;
    width: 56px;
    outline: none;
    margin: 0 auto;
    -webkit-appearance: none;
    background: none;
    border: none;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    animation: uncheck 0.6s ease-out;
    -webkit-animation: uncheck 0.6s ease-out;
    -moz-animation: uncheck 0.6s ease-out;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
    .flip-switch label:before, .flip-switch label:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      width: inherit;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      border-radius: inherit;
      -webkit-border-radius: inherit;
      -moz-border-radius: inherit;
      text-align: center; }
    .flip-switch label:before {
      z-index: 2;
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      background: #E65757; }
    .flip-switch label:after {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      background: #77E371; }
  .flip-switch input:checked + label {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    animation: check 0.6s ease-out;
    -webkit-animation: check 0.6s ease-out;
    -moz-animation: check 0.6s ease-out; }
  .flip-switch.flip-switch-icon label:before, .flip-switch.flip-switch-icon label:after {
    font-family: 'FontAwesome';
    color: white;
    font-size: 2rem;
    line-height: 32px; }
  .flip-switch.flip-switch-icon label:before {
    content: '\f00d'; }
  .flip-switch.flip-switch-icon label:after {
    content: '\f00c'; }
  .flip-switch.flip-switch-text label:before, .flip-switch.flip-switch-text label:after {
    color: white;
    line-height: 32px;
    font-weight: 900;
    font-size: 1.3rem; }
  .flip-switch.flip-switch-text label:before {
    content: 'OFF'; }
  .flip-switch.flip-switch-text label:after {
    content: 'ON'; }

@keyframes check {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(195deg); }
  75% {
    transform: rotateY(165deg); }
  100% {
    transform: rotateY(180deg); } }

@-webkit-keyframes check {
  0% {
    -webkit-transform: rotateY(0deg); }
  50% {
    -webkit-transform: rotateY(195deg); }
  75% {
    -webkit-transform: rotateY(165deg); }
  100% {
    -webkit-transform: rotateY(180deg); } }

@-moz-keyframes check {
  0% {
    -moz-transform: rotateY(0deg); }
  50% {
    -moz-transform: rotateY(195deg); }
  75% {
    -moz-transform: rotateY(165deg); }
  100% {
    -moz-transform: rotateY(180deg); } }

@keyframes uncheck {
  0% {
    transform: rotateY(180deg); }
  50% {
    transform: rotateY(-15deg); }
  75% {
    transform: rotateY(15deg); }
  100% {
    transform: rotateY(0deg); } }

@-webkit-keyframes uncheck {
  0% {
    -webkit-transform: rotateY(180deg); }
  50% {
    -webkit-transform: rotateY(-15deg); }
  75% {
    -webkit-transform: rotateY(15deg); }
  100% {
    -webkit-transform: rotateY(0deg); } }

@-moz-keyframes uncheck {
  0% {
    -moz-transform: rotateY(180deg); }
  50% {
    -moz-transform: rotateY(-15deg); }
  75% {
    -moz-transform: rotateY(15deg); }
  100% {
    -moz-transform: rotateY(0deg); } }

.card form input:not([type=checkbox]), .card form button, .card form select {
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem; }
  .card form input:not([type=checkbox]).thin-padding, .card form button.thin-padding, .card form select.thin-padding {
    padding: 0.25rem 0.5rem; }
  .card form input:not([type=checkbox]).thick-padding, .card form button.thick-padding, .card form select.thick-padding {
    padding: 1rem 2rem; }

.card form .form-group label {
  display: block;
  font-weight: bold;
  line-height: 1.1rem; }

.card form .form-group input[type=checkbox]:not(.flipcheck) + label {
  display: inline-block;
  margin-left: 5px; }

.card form .form-group input, .card form .form-group button, .card form .form-group select {
  margin-bottom: 0; }

.card form button, .card form input[type=button] {
  border-radius: .25rem;
  border-width: 1px;
  border-style: solid; }

.card form .inline input:not([type=checkbox]), .card form .inline button, .card form .inline select {
  margin-bottom: 0; }

.card form .flipcheck {
  display: none; }

.card form .flipcheck + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  border-radius: .25rem;
  font-size: 0; }
  .card form .flipcheck + label:before, .card form .flipcheck + label:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.5s;
    backface-visibility: hidden;
    font-size: initial; }
  .card form .flipcheck + label:before {
    content: attr(data-unchecked); }
  .card form .flipcheck + label:after {
    content: attr(data-checked);
    transform: rotateY(180deg); }

.card form .flipcheck:checked + label:before {
  transform: rotateY(180deg); }

.card form .flipcheck:checked + label:after {
  transform: rotateY(0); }

* {
  border-color: #343845; }

a {
  text-decoration: none;
  color: #27afc0; }

body {
  background-color: #282b35;
  color: silver; }

@media (min-width: 720px) {
  .nav-bar {
    border-right-color: #343845; } }

.nav-bar .card {
  box-shadow: none !important; }

.top-bar li a:hover {
  background-color: #373b49; }

.primary-accent {
  border-top-color: #1d818d; }

.secondary-accent {
  border-top-color: #b46c2d; }

.success-accent {
  border-top-color: #5be65b; }

.warning-accent {
  border-top-color: #c2c200; }

.error-accent {
  border-top-color: #ff2929; }

.card {
  background-color: #1d1f26;
  color: silver; }
  .card.hover li:not(.header):hover {
    background-color: #373b49; }
  .card.primary-back.hover li:not(.header):hover {
    background-color: #4acada; }
  .card.secondary-back.hover li:not(.header):hover {
    background-color: #deab7d; }
  .card.success-back.hover li:not(.header):hover {
    background-color: #c5f6c5; }
  .card.warning-back.hover li:not(.header):hover {
    background-color: #ffff3d; }
  .card.error-back.hover li:not(.header):hover {
    background-color: #ffa3a3; }
  .card .block {
    background-color: #121318; }
  .card form input:not([type=button]), .card form select {
    background-color: #1d1f26;
    color: silver;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px; }
  .card form .flipcheck + label:before {
    background-color: #27afc0;
    border-radius: .25rem;
    color: #fff; }
  .card form .flipcheck + label:after {
    background-color: #d28b4c;
    border-color: #343845;
    border-radius: .25rem;
    color: black; }

.form-group {
  margin: 1rem; }

.primary-text {
  color: #fff; }

.primary-back {
  background-color: #27afc0;
  color: #fff; }
  .primary-back.dark-back {
    background-color: #1d818d; }
  .primary-back.darker-back {
    background-color: #12525a; }
  .primary-back.darkest-back {
    background-color: #082427; }
  .primary-back.light-back {
    background-color: #4acada; }
  .primary-back.lighter-back {
    background-color: #7dd9e5; }
  .primary-back.lightest-back {
    background-color: #b0e8ef; }

.primary-border {
  border-color: #1d818d; }
  .primary-border.dark-border {
    border-color: #12525a; }
  .primary-border.darker-border {
    border-color: #082427; }
  .primary-border.darkest-border {
    border-color: black; }
  .primary-border.light-border {
    border-color: #7dd9e5; }
  .primary-border.lighter-border {
    border-color: #b0e8ef; }
  .primary-border.lightest-border {
    border-color: #e3f7f9; }

.primary-back a {
  color: #27afc0; }

.secondary-text {
  color: black; }

.secondary-back {
  background-color: #d28b4c;
  color: black; }
  .secondary-back.dark-back {
    background-color: #b46c2d; }
  .secondary-back.darker-back {
    background-color: #834f21; }
  .secondary-back.darkest-back {
    background-color: #523115; }
  .secondary-back.light-back {
    background-color: #deab7d; }
  .secondary-back.lighter-back {
    background-color: #ebcaae; }
  .secondary-back.lightest-back {
    background-color: #f7eadf; }

.secondary-border {
  border-color: #b46c2d; }
  .secondary-border.dark-border {
    border-color: #834f21; }
  .secondary-border.darker-border {
    border-color: #523115; }
  .secondary-border.darkest-border {
    border-color: #211408; }
  .secondary-border.light-border {
    border-color: #ebcaae; }
  .secondary-border.lighter-border {
    border-color: #f7eadf; }
  .secondary-border.lightest-border {
    border-color: white; }

.secondary-back a {
  color: gray; }

.error-text {
  color: black; }

.error-back {
  background-color: #ff6666;
  color: black; }
  .error-back.dark-back {
    background-color: #ff2929; }
  .error-back.darker-back {
    background-color: #eb0000; }
  .error-back.darkest-back {
    background-color: #ad0000; }
  .error-back.light-back {
    background-color: #ffa3a3; }
  .error-back.lighter-back {
    background-color: #ffe0e0; }
  .error-back.lightest-back {
    background-color: white; }

.error-border {
  border-color: #ff2929; }
  .error-border.dark-border {
    border-color: #eb0000; }
  .error-border.darker-border {
    border-color: #ad0000; }
  .error-border.darkest-border {
    border-color: #700000; }
  .error-border.light-border {
    border-color: #ffe0e0; }
  .error-border.lighter-border {
    border-color: white; }
  .error-border.lightest-border {
    border-color: white; }

.error-back a {
  color: white; }

.warning-text {
  color: black; }

.warning-back {
  background-color: yellow;
  color: black; }
  .warning-back.dark-back {
    background-color: #c2c200; }
  .warning-back.darker-back {
    background-color: #858500; }
  .warning-back.darkest-back {
    background-color: #474700; }
  .warning-back.light-back {
    background-color: #ffff3d; }
  .warning-back.lighter-back {
    background-color: #ffff7a; }
  .warning-back.lightest-back {
    background-color: #ffffb8; }

.warning-border {
  border-color: #c2c200; }
  .warning-border.dark-border {
    border-color: #858500; }
  .warning-border.darker-border {
    border-color: #474700; }
  .warning-border.darkest-border {
    border-color: #0a0a00; }
  .warning-border.light-border {
    border-color: #ffff7a; }
  .warning-border.lighter-border {
    border-color: #ffffb8; }
  .warning-border.lightest-border {
    border-color: #fffff5; }

.warning-back a {
  color: red; }

.success-text {
  color: black; }

.success-back {
  background-color: lightgreen;
  color: black; }
  .success-back.dark-back {
    background-color: #5be65b; }
  .success-back.darker-back {
    background-color: #26de26; }
  .success-back.darkest-back {
    background-color: #1aac1a; }
  .success-back.light-back {
    background-color: #c5f6c5; }
  .success-back.lighter-back {
    background-color: #fafefa; }
  .success-back.lightest-back {
    background-color: white; }

.success-border {
  border-color: #5be65b; }
  .success-border.dark-border {
    border-color: #26de26; }
  .success-border.darker-border {
    border-color: #1aac1a; }
  .success-border.darkest-border {
    border-color: #127712; }
  .success-border.light-border {
    border-color: #fafefa; }
  .success-border.lighter-border {
    border-color: white; }
  .success-border.lightest-border {
    border-color: white; }

.success-back a {
  color: darkorange; }

