* {
  border-color: #343845; }

a {
  text-decoration: none;
  color: #27afc0; }

body {
  background-color: #282b35;
  color: silver; }

@media (min-width: 720px) {
  .nav-bar {
    border-right-color: #343845; } }

.nav-bar .card {
  box-shadow: none !important; }

.top-bar li a:hover {
  background-color: #373b49; }

.primary-accent {
  border-top-color: #1d818d; }

.secondary-accent {
  border-top-color: #b46c2d; }

.success-accent {
  border-top-color: #5be65b; }

.warning-accent {
  border-top-color: #c2c200; }

.error-accent {
  border-top-color: #ff2929; }

.card {
  background-color: #1d1f26;
  color: silver; }
  .card.hover li:not(.header):hover {
    background-color: #373b49; }
  .card.primary-back.hover li:not(.header):hover {
    background-color: #4acada; }
  .card.secondary-back.hover li:not(.header):hover {
    background-color: #deab7d; }
  .card.success-back.hover li:not(.header):hover {
    background-color: #c5f6c5; }
  .card.warning-back.hover li:not(.header):hover {
    background-color: #ffff3d; }
  .card.error-back.hover li:not(.header):hover {
    background-color: #ffa3a3; }
  .card .block {
    background-color: #121318; }
  .card form input:not([type=button]), .card form select {
    background-color: #1d1f26;
    color: silver;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px; }
  .card form .flipcheck + label:before {
    background-color: #27afc0;
    border-radius: .25rem;
    color: #fff; }
  .card form .flipcheck + label:after {
    background-color: #d28b4c;
    border-color: #343845;
    border-radius: .25rem;
    color: black; }

.form-group {
  margin: 1rem; }

.primary-text {
  color: #fff; }

.primary-back {
  background-color: #27afc0;
  color: #fff; }
  .primary-back.dark-back {
    background-color: #1d818d; }
  .primary-back.darker-back {
    background-color: #12525a; }
  .primary-back.darkest-back {
    background-color: #082427; }
  .primary-back.light-back {
    background-color: #4acada; }
  .primary-back.lighter-back {
    background-color: #7dd9e5; }
  .primary-back.lightest-back {
    background-color: #b0e8ef; }

.primary-border {
  border-color: #1d818d; }
  .primary-border.dark-border {
    border-color: #12525a; }
  .primary-border.darker-border {
    border-color: #082427; }
  .primary-border.darkest-border {
    border-color: black; }
  .primary-border.light-border {
    border-color: #7dd9e5; }
  .primary-border.lighter-border {
    border-color: #b0e8ef; }
  .primary-border.lightest-border {
    border-color: #e3f7f9; }

.primary-back a {
  color: #27afc0; }

.secondary-text {
  color: black; }

.secondary-back {
  background-color: #d28b4c;
  color: black; }
  .secondary-back.dark-back {
    background-color: #b46c2d; }
  .secondary-back.darker-back {
    background-color: #834f21; }
  .secondary-back.darkest-back {
    background-color: #523115; }
  .secondary-back.light-back {
    background-color: #deab7d; }
  .secondary-back.lighter-back {
    background-color: #ebcaae; }
  .secondary-back.lightest-back {
    background-color: #f7eadf; }

.secondary-border {
  border-color: #b46c2d; }
  .secondary-border.dark-border {
    border-color: #834f21; }
  .secondary-border.darker-border {
    border-color: #523115; }
  .secondary-border.darkest-border {
    border-color: #211408; }
  .secondary-border.light-border {
    border-color: #ebcaae; }
  .secondary-border.lighter-border {
    border-color: #f7eadf; }
  .secondary-border.lightest-border {
    border-color: white; }

.secondary-back a {
  color: gray; }

.error-text {
  color: black; }

.error-back {
  background-color: #ff6666;
  color: black; }
  .error-back.dark-back {
    background-color: #ff2929; }
  .error-back.darker-back {
    background-color: #eb0000; }
  .error-back.darkest-back {
    background-color: #ad0000; }
  .error-back.light-back {
    background-color: #ffa3a3; }
  .error-back.lighter-back {
    background-color: #ffe0e0; }
  .error-back.lightest-back {
    background-color: white; }

.error-border {
  border-color: #ff2929; }
  .error-border.dark-border {
    border-color: #eb0000; }
  .error-border.darker-border {
    border-color: #ad0000; }
  .error-border.darkest-border {
    border-color: #700000; }
  .error-border.light-border {
    border-color: #ffe0e0; }
  .error-border.lighter-border {
    border-color: white; }
  .error-border.lightest-border {
    border-color: white; }

.error-back a {
  color: white; }

.warning-text {
  color: black; }

.warning-back {
  background-color: yellow;
  color: black; }
  .warning-back.dark-back {
    background-color: #c2c200; }
  .warning-back.darker-back {
    background-color: #858500; }
  .warning-back.darkest-back {
    background-color: #474700; }
  .warning-back.light-back {
    background-color: #ffff3d; }
  .warning-back.lighter-back {
    background-color: #ffff7a; }
  .warning-back.lightest-back {
    background-color: #ffffb8; }

.warning-border {
  border-color: #c2c200; }
  .warning-border.dark-border {
    border-color: #858500; }
  .warning-border.darker-border {
    border-color: #474700; }
  .warning-border.darkest-border {
    border-color: #0a0a00; }
  .warning-border.light-border {
    border-color: #ffff7a; }
  .warning-border.lighter-border {
    border-color: #ffffb8; }
  .warning-border.lightest-border {
    border-color: #fffff5; }

.warning-back a {
  color: red; }

.success-text {
  color: black; }

.success-back {
  background-color: lightgreen;
  color: black; }
  .success-back.dark-back {
    background-color: #5be65b; }
  .success-back.darker-back {
    background-color: #26de26; }
  .success-back.darkest-back {
    background-color: #1aac1a; }
  .success-back.light-back {
    background-color: #c5f6c5; }
  .success-back.lighter-back {
    background-color: #fafefa; }
  .success-back.lightest-back {
    background-color: white; }

.success-border {
  border-color: #5be65b; }
  .success-border.dark-border {
    border-color: #26de26; }
  .success-border.darker-border {
    border-color: #1aac1a; }
  .success-border.darkest-border {
    border-color: #127712; }
  .success-border.light-border {
    border-color: #fafefa; }
  .success-border.lighter-border {
    border-color: white; }
  .success-border.lightest-border {
    border-color: white; }

.success-back a {
  color: darkorange; }

