@import "GlobalVariables.scss";

.card {
	form {
		input:not([type=checkbox]), button, select {
			padding: ($basePadding / 2 + 0rem) $basePadding;
			width: 100%;
			margin-bottom: $baseMargin;

			&.thin-padding { padding: ($thinPadding / 2 + 0rem) $thinPadding; }
			&.thick-padding { padding: ($thickPadding / 2 + 0rem) $thickPadding; }
		}

		.form-group {
			label {
				display: block;
				font-weight: bold;
				line-height: 1.1rem;
			}

			input[type=checkbox]:not(.flipcheck) + label {
				display: inline-block;
				margin-left: 5px;
			}

			input, button, select {
				margin-bottom: 0;
			}
		}
		
		button, input[type=button] {
			border-radius: .25rem;
			border-width: 1px;
			border-style: solid;
		}

		.inline {
			input:not([type=checkbox]), button, select {
				margin-bottom: 0;
			}
		}

		.flipcheck {
			display: none;
		}

		.flipcheck + label {
			display: block;
			position: relative;
			cursor: pointer;
			outline: none;
			text-align: center;
			height: $thickPadding;
			line-height: $thickPadding;
			border-radius: .25rem;

			font-size: 0;

			&:before, &:after {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transition: transform 0.5s;
				backface-visibility: hidden;
				font-size: initial;
			}

			&:before {
				content: attr(data-unchecked);
			}

			&:after {
				content: attr(data-checked);
				transform: rotateY(180deg);
			}
		}

		.flipcheck:checked + label {
				&:before {
					transform: rotateY(180deg);
				}

				&:after {
					transform: rotateY(0);
				}
		}
	}
}