// out: ../Distribution/Forms.css
@import "GlobalVariables.less";

.card {
	form {
		input:not([type=checkbox]), button, select {
			padding: unit(@basePadding / 2, rem) @basePadding;
			margin-bottom: @baseMargin;
			width: 100%;
		}

		.form-group {
			label {
				display: block;
				font-weight: bold;
				line-height: 1.1rem;
			}

			input, button, select {
				margin-bottom: 0;
			}
		}
		
		button, input[type=button] {
			border-radius: .25rem;
			border-width: 1px;
		}
	}
}