// out: ../Distribution/Theme.css
@import "GlobalVariables.less";

@mainColor: #282b35;
@borderColor: #343845;
@lightTextColor: silver;
@mainTextColor: silver;

@linkColor: #27afc0;

@cardBackColor: #1d1f26;
@cardTextColor: silver;

@primaryColor: #27afc0;
@primaryTextColor: #fff;
@primaryLinkColor: #27afc0;

@secondaryColor: #d28b4c;
@secondaryTextColor: black;
@secondaryLinkColor: gray;

@successColor: lightgreen;
@successTextColor: black;
@successLinkColor: darkorange;

@warningColor: yellow;
@warningTextColor: black;
@warningLinkColor: red;

@errorColor: #ff6666;
@errorTextColor: black;
@errorLinkColor: white;

@import "CustomThemeVariables.less";

* {
	border-color: @borderColor;
}

a {
	text-decoration: none;
	color: @linkColor;
}

body {
	background-color: @mainColor;
	color: @mainTextColor;
}

.nav-bar {
	@media (min-width: @mediumBreakpoint) {
		border-right-color: @borderColor;
	}

	.card {
		box-shadow: none !important;
	}
}

.top-bar {
	li {
		a:hover {
			background-color: lighten(@cardBackColor, @colorOffset1);
		}
	}
}

.primary-accent { border-top-color: darken(@primaryColor, @colorOffset1); .three-d(@primaryColor); }	
.secondary-accent { border-top-color: darken(@secondaryColor, @colorOffset1); .three-d(@secondaryColor); }
.success-accent { border-top-color: darken(@successColor, @colorOffset1); .three-d(@successColor); }	
.warning-accent { border-top-color: darken(@warningColor, @colorOffset1); .three-d(@warningColor); }
.error-accent { border-top-color: darken(@errorColor, @colorOffset1); .three-d(@errorColor); }

.card {
	background-color: @cardBackColor;
	color: @cardTextColor;

	.three-d(@borderColor);

	.back-hover(@color, @selector) {
		&.@{selector}-back.hover li:not(.header):hover { background-color: lighten(@color, @colorOffset1); }
	}

	&.hover li:not(.header):hover { background-color: lighten(@cardBackColor, @colorOffset1); }
	.back-hover(@primaryColor, primary);
	.back-hover(@secondaryColor, secondary);
	.back-hover(@successColor, success);
	.back-hover(@warningColor, warning);
	.back-hover(@errorColor, error);

	.block {
		background-color: darken(@cardBackColor, 5%);
	}
	
	form {
		input:not([type=button]), select {
			background-color: @cardBackColor;
			color: @cardTextColor;
			border-left-width: 0;
			border-top-width: 0;
			border-right-width: 0;
			border-bottom-width: 1px;
		}

		button, input[type=button], .flipcheck + label {
			.button-states(@primaryColor, primary);
			.button-states(@secondaryColor, secondary);
			.button-states(@successColor, success);
			.button-states(@warningColor, warning);
			.button-states(@errorColor, error);
		}

		.flipcheck + label {
			&:before {
				background-color: @primaryColor;
				border-radius: .25rem;
				color: @primaryTextColor;
			}

			&:after {
				background-color: @secondaryColor;
				border-color: @borderColor;
				border-radius: .25rem;
				color: @secondaryTextColor;
			}
		}
	}
}

.form-group {
	margin: @baseMargin;
}

.color-group(@primaryColor, @primaryTextColor, @primaryLinkColor, primary);
.color-group(@secondaryColor, @secondaryTextColor, @secondaryLinkColor, secondary);
.color-group(@errorColor, @errorTextColor, @errorLinkColor, error);
.color-group(@warningColor, @warningTextColor, @warningLinkColor, warning);
.color-group(@successColor, @successTextColor, @successLinkColor, success);

@import "CustomThemeStyles.less";